
<section class="overlap_section pt-md-0 small_pb">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12 animation" data-animation="bounceInUp" data-animation-delay="0.2s">
                <div class="banner_box banner_box_style1 bg_dark_orange radius_all_10 text_white">
                    <div class="banner_text">
                        <h3 style="font-size: 24px;">Calidad y control</h3>
                        <p>Seleccionamos los mejores productos para Ti</p>
                        <!-- <em><a href="#"><u>comprar</u></a></em> -->
                    </div>
                    <div class="banner_img">
                        <img src="assets/assetsfruit/images/banner_img4.png" alt="banner_img4" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 animation" data-animation="bounceInUp" data-animation-delay="0.3s">
                <div class="banner_box banner_box_style1 bg_dark_pink radius_all_10 text_white">
                    <div class="banner_text">
                        <h3 style="font-size: 24px;">Gustos y exquiciteces</h3>
                        <p>Surte tu cocina con lo mejor del campo.</p>
                        <!-- <em><a href="#"><u>comprar</u></a></em> -->
                    </div>
                    <div class="banner_img">
                        <img src="assets/assetsfruit/images/banner_img5.png" alt="banner_img5" />
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12 animation" data-animation="bounceInUp" data-animation-delay="0.4s">
                <div class="banner_box banner_box_style1 bg_dark_green radius_all_10 text_white">
                    <div class="banner_text">
                        <h3 style="font-size: 24px;">Variedad y frescura</h3>
                        <p>Todo lo que desees en frutas y hortalizas.</p>
                        <!-- <em><a href="#"><u>comprar</u></a></em> -->
                    </div>
                    <div class="banner_img">
                        <img src="assets/assetsfruit/images/banner_img6.png" alt="banner_img6" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
