<section >
    <form [formGroup]="ngFormSendOrder" (ngSubmit) ="okOrder()" >
        <div class="container">
            <div class="row" [hidden]="!stepUno">
            	<div class="col-12">    
                	<div class="table-responsive shop_cart_table">
                    	<table class="table">
                        	<thead>
                            	<tr>
                                	<th class="product-thumbnail">&nbsp;</th>
                                    <th class="product-name">Producto</th>
                                    <th class="product-price">Precio</th>
                                    <th class="product-quantity">Cant</th>
                                    <th class="product-subtotal">Sub-totales</th>
                       <!--              <th class="product-remove">Eliminar</th> -->
                                </tr>
                            </thead>
                            <tbody>
                            	<tr *ngFor="let tix of this._uw.car;let i = index" style="border-top: 1px solid #dee2e6;">
                                	<td class="product-thumbnail"><a ><img  src="{{tix.images[0]}}" alt=""  style="border-top: 0px;"></a> <a (click)="remove(i)" class="item_remove"><i class="ti-close" style="color:red; font-weight: 600px;"></i></a></td>
                                    <td class="product-name" data-title="Producto"  style="border-top: 0px;"><a >{{tix.productName}} </a></td>
                                    <td class="product-price" data-title="Precio"  style="border-top: 0px;">{{tix.globalPrice*this._uw.currency | number :'1.2-2'}} x {{tix.presentacion}}</td>
                                    <td class="product-quantity" data-title="Cantidad"  style="border-top: 0px;">
    	                               	<div class="quantity" style="border: 0px; display: inline-flex;">
    		                                <input type="button" value="-" (click)="minus(i)" class="minus">
    					                    <input [(ngModel)]="this._uw.car[i].quantity" class="qty" size="1"  [ngModelOptions]="{standalone: true}" disabled="disabled"  >
    					                    <input type="button" value="+" (click)="plus(i)" class="plus">
    	                              	</div>
                              		</td>
                                  	<td class="product-subtotal" data-title="" [hidden]="this._uw.currency==this._uw.info[0].colp || this._uw.currency==this._uw.info[0].bs"  style="border-top: 0px;">$ {{this._uw.car[i].quantity*this._uw.car[i].globalPrice*this._uw.currency | number :'1.2-2'}}</td>
                                    
                                    <td class="product-subtotal" data-title="" [hidden]="this._uw.currency==this._uw.info[0].colp || this._uw.currency==this._uw.info[0].usd" style="border-top: 0px;" >Bs.S. {{this._uw.car[i].quantity*this._uw.car[i].globalPrice*this._uw.currency | number :'1.0-0'}}</td>
                                    
                                    <td class="product-subtotal" data-title="" [hidden]="this._uw.currency==this._uw.info[0].bs || this._uw.currency==this._uw.info[0].usd"  style="border-top: 0px;">Colp {{this._uw.car[i].quantity*this._uw.car[i].globalPrice*this._uw.currency | number :'1.0-0'}}</td>
                                   <!--  <td class="product-remove" data-title="Quitar" >
                                    	<a (click)="remove(i)" ><i class="ti-close" style=""></i></a>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row" [hidden]="!stepUno">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <div class="row" [hidden]="!stepUno">
                <div class="col-12">
                    <div class="small_divider clearfix"></div>
                </div>
            </div>
            <div class="row" [hidden]="!stepUno">
                <div class="col-12">    
                    <div class="table-responsive shop_cart_table">
                        <table class="table">
                            <tfoot>
                                <tr>
                                    <td colspan="6" class="px-0">
                                        <div class=" no-gutters align-items-right">
                                            <p class="cart_buttons"> 
                                              <a    (click)="setStepDos()"  class="btn btn-default btn-borderd btn-radius checkout">Pagar</a>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row" [hidden]="!stepDos">
            	
                <div class="col-md-6">
                	<div class="heading_s2">
                        <span>.</span>
                		<h5>Totales</h5>
                    </div>
                    <div class="table-responsive">
                    	<table class="table" *ngIf="this._uw.info[0]">
                            <tbody><tr>
                                <td class="cart_total_label">Subtotal</td>
                                <td class="cart_total_amount">
                                    <span class="cart_amount" [hidden]="this._uw.currency==this._uw.info[0].bs || this._uw.currency==this._uw.info[0].colp"> 
                                        <span class="price_symbole">$
                                        </span>
                                    {{this._uw.subTotal*this._uw.currency | number :'1.2-2' }}
                                    </span>
                                    <span class="cart_amount" [hidden]="this._uw.currency==this._uw.info[0].bs || this._uw.currency==this._uw.info[0].usd"> 
                                        <span class="price_symbole">COLP
                                        </span>
                                    {{this._uw.subTotal*this._uw.currency | number :'1.0-0' }}
                                    </span>
                                    <span class="cart_amount" [hidden]="this._uw.currency==this._uw.info[0].colp || this._uw.currency==this._uw.info[0].usd"> 
                                        <span class="price_symbole">Bs.S.
                                        </span>
                                    {{this._uw.subTotal*this._uw.currency | number :'1.0-0' }}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td class="cart_total_label">Reparto</td>
                                <td class="cart_total_amount">Reparto Gratis</td>
                            </tr>
                             <tr [hidden]="!_uw.recargo || this.ngFormSendOrder.value.metodo!='bitcoin'">
                                <td class="cart_total_label">Recargo Bitcoin ({{this._uw.info[0].bitcoin}} %)</td>
                                <td class="cart_total_amount">{{this._uw.subTotal*this._uw.currency*(this._uw.info[0].bitcoin/100) | number :'1.2-2' }}</td>
                            </tr>
                            <tr [hidden]="!_uw.recargo || this.ngFormSendOrder.value.metodo!='paypal'">
                                <td class="cart_total_label">Recargo Paypal ({{this._uw.info[0].paypal}} %)</td>
                                <td class="cart_total_amount">{{this._uw.subTotal*this._uw.currency*(this._uw.info[0].paypal/100) | number :'1.2-2' }}</td>
                            </tr>
                          
                            <tr>
                                <td class="cart_total_label">Total</td>
                                <td class="cart_total_amount"><strong>
                                     <span class="cart_amount" [hidden]="this._uw.currency==this._uw.info[0].bs || this._uw.currency==this._uw.info[0].colp"> 
                                        <span class="price_symbole">$
                                        </span>
                                    {{(this._uw.subTotal*this._uw.currency)+this.recargo | number :'1.2-2' }}
                                    </span>
                                    <span class="cart_amount" [hidden]="this._uw.currency==this._uw.info[0].bs || this._uw.currency==this._uw.info[0].usd"> 
                                        <span class="price_symbole">COLP
                                        </span>
                                    {{(this._uw.subTotal*this._uw.currency)+this.recargo | number :'1.0-0' }}
                                    </span>
                                    <span class="cart_amount" [hidden]="this._uw.currency==this._uw.info[0].colp || this._uw.currency==this._uw.info[0].usd"> 
                                        <span class="price_symbole">Bs.S.
                                        </span>
                                    {{(this._uw.subTotal*this._uw.currency)+this.recargo | number :'1.0-0' }}
                                    </span>
                                </strong></td>
                            </tr>
                        </tbody></table>
                    </div>
                </div>
                <div class="col-md-6">
                      <div class="heading_s2">
                        <h5>Método de pago</h5>
                    </div>
                    <div class="custom_select">
                       <!--  <select>
                            <option value="bsTansferencia">BsS Transferencia</option>
                            <option value="bitcoin" (click)="currencyBit()">Bitcoin</option>
                            <option value="paypal" (click)="currencyPaypal()">PayPal</option>
                            <option value="bsPago">BsS pago en linea Banco Mercantil</option>
                            <option value="bsPunto">BsS Punto de venta</option>
                            <option value="colp">Pesos Colombianos</option>
                            <option value="usd">$ USD Efectivo</option>
                            <option value="usd">$ USD Transferencia</option>                           
                        </select> -->
                        <select    id="metodo" formControlName="metodo" [(ngModel)]="order.metodo"
                        [ngClass]="{ 'is-invalid': submitted && fval.metodo.errors }"
                        required class="nice-select"   (click)="setMetodo()">
                            <option value="bsTansferencia">BsS Transferencia</option>
                            <option value="bitcoin" >Bitcoin</option>
                            <option value="paypal">PayPal</option>
                            <option value="bsPago">BsS pago en linea Banco Mercantil</option>
                            <option value="bsPunto">BsS Punto de venta</option>
                            <option value="colp">Pesos Colombianos</option>
                            <option value="usd" >$ USD Efectivo</option>
                            <option value="usdt" >$ USD Transferencia</option>        
                        </select>


                    </div>
                    <div class="heading_s2">
                        <span>.</span>
                        <h5>Datos para la entrega</h5>
                    </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <input type="text" class="form-control" id="personaContacto" formControlName="personaContacto" placeholder="Persona de contacto" [(ngModel)]="order.personaContacto"
                                [ngClass]="{ 'is-invalid': submitted && fval.personaContacto.errors }"
                                required><span class="required"></span>
                                <div *ngIf="submitted && fval.personaContacto.errors" class="invalid-feedback">
                                    <div *ngIf="fval.personaContacto.errors.required" class="errorLabel">
                                    * Tu nombre o el de la persona de contacto.
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-4">
                                <input type="tel" class="form-control" id="telefono" formControlName="telefono" placeholder="Teléfono de contacto" [(ngModel)]="order.telefono"
                                [ngClass]="{ 'is-invalid': submitted && fval.telefono.errors }"
                                required><span class="required"></span>
                                <div *ngIf="submitted && fval.telefono.errors" class="invalid-feedback">
                                    <div *ngIf="fval.telefono.errors.required" class="errorLabel">
                                    * Un número de teléfono para contactarte.
                                    </div>
                                </div>
                            </div>


                            <div class="form-group col-md-4">
                                <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email" [(ngModel)]="order.email"
                                [ngClass]="{ 'is-invalid': submitted && fval.email.errors }"
                                required><span class="required"></span>
                                <div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
                                    <div *ngIf="fval.email.errors.required" class="errorLabel">
                                    * Una dirección de correo electrónico para comunicarnos.
                                    </div>
                                </div>
                            </div>

                            <div class="form-group col-md-12">
                                <textarea class="form-control height-80" id="direccion" formControlName="direccion" placeholder="Dirección (Urbanización, # de casa y punto de referencia)" [(ngModel)]="order.direccion"
                                [ngClass]="{ 'is-invalid': submitted && fval.direccion.errors }"
                                required></textarea>
                                <span class="required"></span>
                                <div *ngIf="submitted && fval.direccion.errors" class="invalid-feedback">
                                    <div *ngIf="fval.direccion.errors.required" class="errorLabel">
                                    * Dirección donde deseas que llevemos tu pedido.
                                    </div>
                                </div>
                            </div>
                        </div>                
                </div>
            </div>
        
            <div class="row" [hidden]="!stepDos">
                <div class="col-12">
                    <div class="small_divider clearfix"></div>
                </div>
            </div>
            <div class="row" [hidden]="!stepDos">
                <div class="col-12">    
                    <div class="">
                        <table class="table">
                            <tfoot>
                                <tr>
                                    <td colspan="6" class="px-0">
                                        <div class=" no-gutters align-items-right">
                                            <p class="cart_buttons">
                                              <a (click)="setStepUno()" class="btn btn-dark btn-radius view-cart" style="color: white;">Atrás</a>
                                              <button class="btn btn-default btn-borderd btn-radius " type="submit">Siguiente</button>
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
    <a href="index.html#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a> 