<footer class="bg_gray" >
    <div class="top_footer small_pt small_pb" [hidden]="router.url.includes('/fruitcart') || router.url.includes('/pago')">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-4 col-xs-12        ">
                    <div class="footer_logo">
                        <a href="index.html"><img alt="logo" src="assets/assetsfruit/images/logo_dark.png"></a>
                    </div>
                    <div class="footer_desc">
                        <p></p>
                          <h5 class="widget_title" style="text-transform: none;font-size: 30px;">Tu frutería a domicilio</h5>
                    </div>
                    <ul class="contact_info list_none">
                        <li  style="cursor: pointer;">
                          
                              <span class="ti-email"></span>
                            <a href="tel:584147529202">(414) 752 9202</a>
                        </li>
                        <li>
                            <span class="ti-email"></span>
                            <a href="mailto:info@techosytabiques.com">info@techosytabiques.com</a>
                        </li>
                        <li>
                            <span class="ti-location-pin"></span>
                            <address>Mérida, Estado Mérida</address>
                        </li>
                    </ul>
                </div>
            <!--     <div class="col-lg-4 col-md-3 col-sm-4 col-xs-12">
                    <h5 class="widget_title" style="text-transform: none;font-size: 30px;">Información de interés</h5>
                    <ul class="list_none widget_links">
                        <li><a href="index.html#">Sobre el reparto</a></li>
                        <li><a href="index.html#">Pagos seguros</a></li>
                        <li><a href="index.html#">Sobre nosotros</a></li>
                        <li><a href="index.html#">Términos y condiciones</a></li>
                    </ul>
                </div> -->
                <div class="col-lg-4 col-md-6 col-sm-4 col-xs-12">
                      <h2 class="widget_title" style="text-transform: none;font-size: 26px; color:#07d765; font-family: 'Poppins', sans-serif;">@techosytabiquesapp</h2>
                    <!--  <p class="animation" data-animation="fadeInUp" data-animation-delay="0.03s" style="font-size: 22px; color:#07d765;"><b>@techosytabiquesapp</b></p> -->
                    <h5 class="widget_title" style="text-transform: none;font-size: 30px;">Síguenos en Instagram</h5>
                    <ul class="list_none instafeed">
                        <li><a href="https://www.instagram.com/techosytabiquesapp" target="_blank"><img src="assets/assetsfruit/images/insta_img1.jpg" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                        <li><a href="https://www.instagram.com/techosytabiquesapp" target="_blank"><img src="assets/assetsfruit/images/insta_img2.jpg" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                        <li><a href="https://www.instagram.com/techosytabiquesapp" target="_blank"><img src="assets/assetsfruit/images/insta_img3.jpg" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                        <li><a href="https://www.instagram.com/techosytabiquesapp" target="_blank"><img src="assets/assetsfruit/images/insta_img4.jpg" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                        <li><a href="https://www.instagram.com/techosytabiquesapp" target="_blank"><img src="assets/assetsfruit/images/insta_img5.jpg" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                        <li><a href="https://www.instagram.com/techosytabiquesapp" target="_blank"><img src="assets/assetsfruit/images/insta_img6.jpg" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                        <li><a href="https://www.instagram.com/techosytabiquesapp" target="_blank"><img src="assets/assetsfruit/images/insta_img7.jpg" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                        <li><a href="https://www.instagram.com/techosytabiquesapp" target="_blank"><img src="assets/assetsfruit/images/insta_img8.jpg" alt="insta_img"><span class="insta_icon"><i class="ti-instagram"></i></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="middle_footer" [hidden]="router.url.includes('/fruitcart') || router.url.includes('/pago')">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="shopping_info">
                        <div class="row justify-content-center">
                            <div class="col-md-4">  
                                <div class="icon_box icon_box_style2">
                                    <div class="box_icon">
                                        <i class="fas fa-truck"></i>
                                    </div>
                                    <div class="intro_desc">

                                        <h5 style="font-size: 24px;">Repartos a domicilio GRATIS!</h5>
                                        <p>Para pedidos mayores a 5 $USD.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">  
                                <div class="icon_box icon_box_style2">
                                    <div class="box_icon">
                                        <i class="fas fa-dollar-sign"></i>
                                    </div>
                                    <div class="intro_desc">
                                        <h5 style="font-size: 24px;">Compra desde fuera de Venezuela </h5>
                                        <p>Aceptamos Zelle, BofA y PayPal.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">  
                                <div class="icon_box icon_box_style2">
                                    <div class="box_icon">
                                        <i class="far fa-life-ring"></i>
                                    </div>
                                    <div class="intro_desc">
                                        <h5 style="font-size: 24px;" >Quédate en casa!  </h5>
                                        <p>Compra comodamente y de manera segura.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom_footer" [hidden]="router.url.includes('/pago')">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4">
                    <p class="copyright m-lg-0 text-center">Copyright © 2020 soHigh! Derechos reservados</p>
                </div>
                <div class="col-lg-4 order-lg-first">
                    <ul class="list_none footer_payment text-center text-lg-left">
                        <!-- <li><a href="index.html#"><img src="assets/assetsfruit/images/visa.png" alt="visa"/></a></li> -->
                        <!-- <li><a href="index.html#"><img src="assets/assetsfruit/images/discover.png" alt="discover"/></a></li> -->
                      <!--   <li><a href="index.html#"><img src="assets/assetsfruit/images/master_card.png" alt="master_card"/></a></li> -->
                        <li ><a href="index.html#" [hidden]="router.url.includes('/fruitcart')"><img src="assets/assetsfruit/images/paypal.png" alt="paypal"/></a></li>
                        <!-- <li><a href="index.html#"><img src="assets/assetsfruit/images/amarican_express.png" alt="amarican_express"/></a></li> -->
                    </ul>
                </div>
                <div class="col-lg-4">
                    <ul class="list_none social_icons radius_social text-center text-lg-right">
                        <li><a href="https://www.facebook.com/techosytabiquesapp" class="sc_facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <!-- <li><a href="index.html#" class="sc_twitter"><i class="fab fa-twitter"></i></a></li> -->
                        <!-- <li><a href="index.html#" class="sc_google"><i class="fab fa-google-plus-g"></i></a></li> -->
                        <li><a href="https://www.instagram.com/techosytabiquesapp" class="sc_instagram" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <!-- <li><a href="index.html#" class="sc_pinterest"><i class="fab fa-pinterest"></i></a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="overlap_shape" [hidden]="router.url.includes('/pago')">
        <div class="ol_shape21">
            <div class="animation">
                <img data-parallax='{"y": 20, "smoothness": 20}' src="assets/assetsfruit/images/shape36.png" alt="shape36"/>
            </div>
        </div>
        <div class="ol_shape22">
            <div class="animation">
                <img data-parallax='{"y": 20, "smoothness": 20}' src="assets/assetsfruit/images/shape37.png" alt="shape37"/>
            </div>
        </div>
        <div class="ol_shape23">
            <div class="animation">
                <img data-parallax='{"y": 20, "smoothness": 20}' src="assets/assetsfruit/images/shape38.png" alt="shape38"/>
            </div>
        </div>
        <div class="ol_shape24">
            <div class="animation">
                <img data-parallax='{"y": 20, "smoothness": 20}' src="assets/assetsfruit/images/shape39.png" alt="shape39"/>
            </div>
        </div>
    </div>
</footer>